body {
  background-color: aqua;
}
header {
  height: 200px;
  text-align: center;
  color: yellow;
  line-height: 175px;
  background-color: rgb(63, 63, 126);
  font-size: 20px;
}
.float-child {
  float: left;
  width: 30%;
}
#inputs {
  background-color: red;
  height: 300px;
}

#filtro {
  background-color: orange;
  height: 300px;
}
#resultados {
  background-color: green;
  height: 600px;
  width: 70%;
}
